<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">
        <div class="row mt-3   mb-3  display-4 fst-italic">
            <div class="col">
                <div class="d-flex justify-content-center ">
                    <h1 class="mt-1 mx-3">My To Do List</h1>
                    <img src="/toDoList.png" alt="tick image" height="40px">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <form action="/task" method="post">
                    <div class="mb-2 input-group">
                        <input type="text" class=" form-control" name="task" id="floating-input"
                            placeholder="Please enter task">
                        <input type="hidden" name="contents" data-th-value="${contents}">
                        <input type="hidden" name="user" data-th-value="${user}">
                        <button class="btn btn-primary" type="submit">
                            Add Task
                        </button>
                        <button class="btn btn-success" type="submit" formaction="/task/record" method="post">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col task">
                <div class="col">
                    <h5 class="text-center" data-th-if="${contents != null}">Task List</h5>
                    <h6 class="text-center mt-1" data-th-if="${contents == null}">You very free hor??!</h6>
                    <div class="tasks">
                        <ul>
                            <li th:each="test: ${tasks}" th:text=${test}>lol</li>
                        </ul>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="col task">
                <div class="col">
                    <h5 class="text-center" data-th-if="${savedTasks != null}">Saved Task List</h5>
                    <div class="tasks">
                        <ul>
                            <li th:each="test: ${savedTasks}" th:text=${test}>lol</li>
                        </ul>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center mt-4 ">
                <a href="/login.html"><button class="btn btn-danger">Logout</button></a>
            </div>
        </div>
    </div>
</body>

</html>